**/*.env*
**/.DS_Store
**/*.iml
**/.git
**/.github
**/.gitignore
**/.gitattributes
**/.idea
**/.generators
*/.dockerignore
*/.vscode
*/Dockerfile
*/coverage/*
*/log/*
*/storage/*
*/tmp/*
*.code-workspace
*.build-context
**/build
**/dist
**/node_modules/
docker-compose.yml
node_modules
