# OSX
#
.DS_Store

# Xcode
#
dist/
build/

# Visual Studio Code
#
.vscode/
.idea/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
.env

#Intellij
.idea

#Docker sync
.docker-sync
.docker-sync/