$color-white: #fff;

// Light Gray
$color-light-gray-1: #f8fafb;
$color-light-gray-2: #f0f0f0;
$color-light-gray-3: #dee2e6;
$color-light-gray-4: #eff8fa;
$color-neutral-300: #c7ccd0;

// Dark Gray
$color-dark-gray-1: #6c757d;
$color-dark-gray-2: #495057;
$color-dark-gray-3: #343a40;

$color-yellow-light: #ffe8b9;
$color-secondary-yellow: #ffc46c;
$color-primary-orange: #ffac00;

// Blue
$color-lightest-blue: #eff5ff;
$color-primary-dark-blue: #0d47a1;
$color-ocean-600: #0d57a1;
$color-secondary-teal: #62c3d0;
$color-secondary-lighter-blue: #a5c7ff;
$color-secondary-light-blue: #5c99ff;
$color-secondary-blue: #039be5;

// Misc
$color-light-green: #def5e0;
$color-secondary-dark-green: #28b061;
$color-secondary-green: #a5e1af;
$color-secondary-lightest-green: #f4fff5;

$color-teal-50: #f5fffa;
$color-teal-700: #2f909d;
$color-secondary-50: #fffcf5;
$color-secondary-700: #e88d0c;
$color-red-50: #fff6f6;
$color-red-700: #d91313;
$color-red-500: #ee5757;
$color-error-input: #e24c4c;
$color-error-background: #ffe7e7;
$color-light-violet: #e7e9ff;
$color-secondary-violet: #5060f0;
$color-secondary-pink: #c03d82;
$color-light-pink: #fee2f0;
$color-lighter-violet: #cdd2ff;
$color-lightest-violet: #f7f8ff;
$color-dark-violet: #7884f8;

$color-teal-300: #bbf5ec;
$color-teal-50: #f5fffa;
$color-teal-500: #82d9d2;

$color-primary-150: #b1eafc;
$color-primary-300: #4cbcf2;

$color-secondary-200: #ffeecc;
$color-secondary-50: #fffbf2cc;

$color-secondary-dark-pink: #c93d82;
$color-lightest-pink: #fff9fc;

$background-progress-bar: linear-gradient(90deg, #c8e6c9 0%, #ea5455 0%, #29c76f 0.01%, #27ae60 100%);
$background-progress-bar-levels: linear-gradient(90deg, #ea5455 0%, #ff9f42 8.85%, #29c76f 100%);

$background-points-received: linear-gradient(180deg, #ffdc93 13.02%, #ffac00 100%);
$container-box-shadow: 1px 1px 8px rgba(52, 58, 64, 0.05);
